@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;900&display=swap");
:root {
  --clr-bg-main: #f7f7f7;
  --clr-white: #fff;
  --clr-text-darker: #414141;
  --clr-text-dark: #3d3d3d;
  --clr-text-darkgrey: #6e6e6e;
  --clr-text-grey: #a0a0a0;
  --clr-purple-400: #8a6fd6;
  --clr-purple-300: #eee8ff;
  --clr-purple-200: #cabdf5;
  --clr-orange-400: #fdab5f;
  --clr-orange-300: #fef1e1;
  --clr-blue-400: #579be4;
  --clr-blue-300: #e6f4ff;
  --fs-900: 5.6rem;
  --fs-800: 3.6rem;
  --fs-700: 2.4rem;
  --fs-600: 2rem;
  --fs-500: 1.8rem;
  --fs-400: 1.5rem;
  --fs-300: 1.4rem;
  --fs-200: 1.3rem;
  --fw-900: 900;
  --fw-700: 700;
  --fw-600: 600;
  --fw-400: 400;
  --fw-300: 300;
  --br-circle: 10rem;
  --br-600: 1.5rem;
  --br-500: 1rem;
  --br-400: 0.5rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-bg-main);
  min-height: 100vh;
  font-size: var(--fs-400);
  line-height: 1.5;
  font-family: "Urbanist", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  border: none;
}

button {
  cursor: pointer;
}

.container {
  width: min(90%, 1300px);
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: calc(100vh - 6rem);
  gap: 2rem;
  padding: 3rem 0;
}

.btn {
  display: grid;
  place-items: center;
  padding: 1.2rem;
  border-radius: var(--br-500);
  border: none;
  transition: all 0.2s ease-in-out;
  font-weight: var(--fw-700);
  text-align: center;
}
.btn--purple {
  color: white;
  background-color: var(--clr-purple-400);
}
.btn--purple:hover, .btn--purple:focus {
  box-shadow: inset 0 0 0 1px var(--clr-purple-400);
  color: var(--clr-purple-400);
  background-color: white;
}
.btn--orange {
  color: white;
  background-color: var(--clr-orange-400);
}
.btn--orange:hover, .btn--orange:focus {
  box-shadow: inset 0 0 0 1px var(--clr-orange-400);
  color: var(--clr-orange-400);
  background-color: white;
}
.btn--blue {
  color: white;
  background-color: var(--clr-blue-400);
}
.btn--blue:hover, .btn--blue:focus {
  box-shadow: inset 0 0 0 1px var(--clr-blue-400);
  color: var(--clr-blue-400);
  background-color: white;
}
.btn--secondary {
  background-color: var(--clr-white);
  color: var(--clr-text-darkgrey);
}
.btn--secondary:hover, .btn--secondary:focus {
  background-color: rgb(240, 240, 240);
}
.btn--simple {
  color: var(--clr-purple-400);
}
.btn--simple:hover, .btn--simple:focus {
  box-shadow: inset 0 -3px 0 0 var(--clr-purple-300);
}

.course-card {
  padding: 1.5rem;
  border-radius: var(--br-500);
}
.course-card--orange {
  background-color: var(--clr-orange-300);
}
.course-card--purple {
  background-color: var(--clr-purple-300);
}
.course-card--blue {
  background-color: var(--clr-blue-300);
}
.course-card__img {
  border-radius: var(--br-500);
  margin-bottom: 1rem;
}
.course-card__img--orange {
  background-color: var(--clr-orange-400);
}
.course-card__img--purple {
  background-color: var(--clr-purple-400);
}
.course-card__img--blue {
  background-color: var(--clr-blue-400);
}
.course-card__title {
  font-size: var(--fs-500);
  margin-bottom: 0.5rem;
}
.course-card__desc {
  color: var(--clr-text-dark);
  font-weight: var(--fw-600);
  margin-bottom: 4rem;
}
.course-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-card__avatars a + a {
  margin-left: -2rem;
}
.course-card__avatar {
  border-radius: var(--br-circle);
  height: 4rem;
}

.btn--course-card {
  width: 4rem;
}

.course-table {
  width: 100%;
  text-align: center;
}
.course-table th {
  color: var(--clr-text-grey);
  padding: 2rem 0;
}
.course-table__first-col {
  text-align: left;
}
.course-table__course {
  padding: 0.5rem 0;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.course-table__course i {
  padding: 2.5rem;
  border-radius: var(--br-500);
  color: var(--clr-blue-400);
  background-color: var(--clr-blue-300);
}
.course-table__course p {
  color: var(--clr-text-grey);
  font-weight: var(--fw-600);
  margin-top: 0.3rem;
}
.course-table td {
  font-weight: var(--fw-600);
  color: var(--clr-text-dark);
}

.progress-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  background-color: var(--clr-white);
  padding: 1.5rem 3rem;
  border-radius: var(--br-500);
}
.progress-card:hover, .progress-card:focus {
  cursor: pointer;
  box-shadow: 0px 0px 31px -9px lightgray;
}
.progress-card__desc {
  color: var(--clr-text-grey);
  font-weight: var(--fw-600);
}
.progress-card__action {
  margin-left: auto;
  color: var(--clr-purple-400);
}
.progress-card__circle {
  position: relative;
  display: grid;
  place-items: center;
  margin: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #ebebeb;
}
.progress-card__circle--65::after {
  background-image: linear-gradient(-36deg, var(--clr-purple-400) 50%, transparent 50%, transparent), linear-gradient(270deg, var(--clr-purple-400) 50%, #ebebeb 50%, #ebebeb);
}
.progress-card__circle--50::after {
  background-image: linear-gradient(-90deg, var(--clr-purple-400) 50%, transparent 50%, transparent), linear-gradient(270deg, var(--clr-purple-400) 50%, var(--clr-purple-200) 50%, var(--clr-purple-300));
}
.progress-card__circle--25::after {
  background-image: linear-gradient(90deg, #ddd 50%, transparent 50%, transparent), linear-gradient(180deg, var(--clr-purple-400) 50%, #ddd 50%, #ddd);
}
.progress-card__circle::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.progress-card__circle span {
  font-size: var(--fs-400);
  color: #8b8b8b;
  position: absolute;
  display: block;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
}

.progress-card + .progress-card {
  margin-top: 1rem;
}

.datepicker {
  display: none;
}

.datepicker.active {
  display: block;
}

.datepicker-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-top: 4px;
}

.datepicker-dropdown.datepicker-orient-top {
  padding-top: 0;
  padding-bottom: 4px;
}

.datepicker-picker {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: transparent;
}

.datepicker-dropdown .datepicker-picker {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.datepicker-picker span {
  display: block;
  -webkit-box-flex: 1;
  flex: 1;
  border: 0;
  border-radius: 50%;
  cursor: default;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.datepicker-main {
  padding: 1rem;
}

.datepicker-footer {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

.datepicker-controls,
.datepicker-view,
.datepicker-view .days-of-week,
.datepicker-grid {
  display: -webkit-box;
  display: flex;
}

/* .datepicker-grid {
    flex-wrap: wrap;
  } */
.datepicker-view .dow,
.datepicker-view .days .datepicker-cell {
  width: 4rem;
  height: 4rem;
  place-items: center;
  display: grid;
}

.datepicker-view.months.datepicker-grid,
.datepicker-view.years.datepicker-grid {
  gap: 1rem;
}

.datepicker-view .week,
.datepicker-cell {
  height: 2.25rem;
  line-height: 2.25rem;
}

.datepicker-title {
  box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  padding: 0.375rem 0.75rem;
  text-align: center;
  font-weight: 700;
}

.datepicker-header .datepicker-controls {
  padding: 0.7rem 1.2rem;
}

.datepicker-header {
  padding: 1rem;
}

.datepicker-controls .btn {
  border-color: #f8f9fa;
  background-color: #fff;
}

.datepicker-controls .btn:hover {
  border-color: #dae0e5;
  background-color: #e2e6ea;
  color: #212529;
}

.datepicker-controls .btn:focus {
  border-color: #dae0e5;
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
  background-color: #e2e6ea;
  color: #212529;
}

.datepicker-controls .btn:disabled {
  border-color: #f8f9fa;
  background-color: #f8f9fa;
  color: #212529;
}

.datepicker-controls .btn:not(:disabled):active {
  border-color: #d3d9df;
  background-color: #dae0e5;
  color: #212529;
}

.datepicker-controls .btn:not(:disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.datepicker-header .datepicker-controls .btn {
  border-color: transparent;
  font-weight: 700;
}

.datepicker-footer .datepicker-controls .btn {
  margin: calc(0.375rem - 1px) 0.375rem;
  border-radius: 0.2rem;
  width: 100%;
  font-size: 0.875rem;
}

.datepicker-controls .view-switch {
  -webkit-box-flex: 1;
  flex: auto;
  background-color: transparent;
  border: none;
  order: -1;
  color: #413d3d;
  text-align: left;
  font-weight: 600;
  cursor: pointer;
}

.datepicker-controls .prev-btn,
.datepicker-controls .next-btn {
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  width: 2.25rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #413d3d;
}

.datepicker-controls .prev-btn.disabled,
.datepicker-controls .next-btn.disabled {
  visibility: hidden;
}

.datepicker-view .dow {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #413d3d;
}

.datepicker-view .week {
  width: 2.25rem;
  color: #dee2e6;
  font-size: 0.875rem;
}

.days-of-week {
  margin-bottom: 1rem;
}

@media (max-width: 22.5rem) {
  .datepicker-view .week {
    width: 1.96875rem;
  }
}
.datepicker-grid {
  width: 34.75rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
}

@media (max-width: 22.5rem) {
  .calendar-weeks + .days .datepicker-grid {
    width: 13.78125rem;
  }
}
.datepicker-cell:not(.disabled):hover {
  background-color: var(--clr-purple-200);
  cursor: pointer;
  color: #fff !important;
}

.datepicker-cell.focused:not(.selected) {
  background-color: var(--clr-purple-400);
  border-radius: 50%;
  color: #f9f9f9;
}

.datepicker-cell.selected.focused,
.datepicker-cell.selected:hover {
  background-color: var(--clr-purple-400);
  color: #fff;
  font-weight: 600;
  border-radius: 50%;
}

.datepicker-cell.disabled {
  color: #6c757d;
}

.datepicker-cell.prev:not(.disabled),
.datepicker-cell.next:not(.disabled) {
  color: #6c757d;
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today) {
  border-radius: 0;
  background-color: #f8f9fa;
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today):not(.disabled):hover {
  background-color: #f1f3f5;
}

.datepicker-cell.highlighted:not(.selected):not(.range):not(.today).focused {
  background-color: #f1f3f5;
}

.datepicker-cell.today:not(.selected) {
  background-color: #20c997;
}

.datepicker-cell.today:not(.selected):not(.disabled) {
  color: #fff;
}

.datepicker-cell.today.focused:not(.selected) {
  background-color: #1ebe8f;
}

.datepicker-cell.range-start:not(.selected),
.datepicker-cell.range-end:not(.selected) {
  background-color: #6c757d;
  color: #fff;
}

.datepicker-cell.range-start.focused:not(.selected),
.datepicker-cell.range-end.focused:not(.selected) {
  background-color: #666f76;
}

.datepicker-cell.range-start {
  border-radius: 0.25rem 0 0 0.25rem;
}

.datepicker-cell.range-end {
  border-radius: 0 0.25rem 0.25rem 0;
}

.datepicker-cell.range {
  border-radius: 0;
  background-color: #e9ecef;
}

.datepicker-cell.range:not(.disabled):not(.focused):not(.today):hover {
  background-color: #e2e6ea;
}

.datepicker-cell.range.disabled {
  color: #cbd3da;
}

.datepicker-cell.range.focused {
  background-color: #dadfe4;
}

.datepicker-view.datepicker-grid .datepicker-cell {
  width: 4.5rem;
  height: 4.5rem;
  display: grid;
  place-items: center;
}

.datepicker-input.in-edit {
  border-color: #66b0ff;
}

.datepicker-input.in-edit:focus,
.datepicker-input.in-edit:active {
  box-shadow: 0 0 0.25em 0.25em rgba(102, 176, 255, 0.2);
}

.datepicker-cell.month.focused,
.datepicker-cell.year.focused {
  border-radius: 50%;
}

.header {
  padding: 0 1.5rem;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
}
.header__logo {
  height: 3.8rem;
  margin-bottom: 4rem;
}
.header__action {
  margin-top: auto;
  padding: 2rem 1rem;
  background-color: var(--clr-purple-300);
  border-radius: var(--br-500);
  text-align: center;
}
.header__action-img {
  margin-top: -12rem;
  margin-bottom: 2rem;
  height: 19rem;
}
.header__action-title {
  color: var(--clr-text-darker);
  font-size: var(--fs-500);
  font-weight: var(--fw-600);
  margin-bottom: 1rem;
}
.header__action-desc {
  color: var(--clr-text-dark);
  font-size: var(--fs-300);
  font-weight: var(--fw-600);
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.nav__link {
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: var(--br-500);
  color: var(--clr-text-grey);
  font-weight: var(--fw-600);
  text-transform: capitalize;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav__link--active {
  background-color: var(--clr-purple-300);
  color: var(--clr-text-darker);
}
.nav__link:hover, .nav__link:focus {
  background-color: rgb(240, 240, 240);
}

.main {
  grid-column: 3/-1;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 2rem;
}
.main__header {
  grid-column: 1/5;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.main__header-search {
  position: relative;
  margin-left: auto;
}
.main__header-search-input {
  padding: 1rem 1rem 1rem 5rem;
  border-radius: var(--br-500);
  transition: 0.2s all ease-in-out;
}
.main__header-search-input:focus {
  outline: none;
  box-shadow: 0px 8px 11px -10px var(--clr-text-grey);
}
.main__header-search-icon {
  color: var(--clr-text-grey);
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}
.main__content {
  display: none;
  grid-column: 1/8;
}
.main__content--active {
  display: block;
}
.main__content--empty {
  margin: 0 auto;
  transform: translateY(20vh);
}
.main__content--empty img {
  filter: grayscale(90%);
}
.main__subtitle {
  text-transform: capitalize;
  font-size: var(--fs-700);
  color: var(--clr-text-dark);
  margin-bottom: 2rem;
}

.new-courses {
  margin-bottom: 3rem;
}
.new-courses__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.5rem;
}

.my-courses__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  grid-column: 8/-1;
}

.profile__title {
  text-transform: capitalize;
}
.profile__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__user {
  text-align: center;
}
.profile__avatar {
  border-radius: var(--br-circle);
  margin: 0 auto;
  margin-bottom: 1.3rem;
}
.profile__name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--clr-text-darker);
}
.profile__name i {
  font-size: 1rem;
  padding: 0.4rem;
  color: var(--clr-white);
  background-color: var(--clr-purple-400);
  border-radius: var(--br-circle);
}
.profile__user-level {
  font-weight: var(--fw-600);
  color: var(--clr-text-grey);
}

.progress {
  padding-bottom: 3rem;
}
.progress__title {
  margin-bottom: 2rem;
}

/*# sourceMappingURL=main.css.map */
