@use "../abstracts/"as *;


.btn {
    display: grid;
    place-items: center;
    padding: 1.2rem;
    border-radius: var(--br-500);
    border: none;
    transition: all .2s ease-in-out;
    font-weight: var(--fw-700);
    text-align: center;

    &--purple {
        color: white;
        background-color: var(--clr-purple-400);

        &:hover,
        &:focus {
            box-shadow: inset 0 0 0 1px var(--clr-purple-400);
            color: var(--clr-purple-400);
            background-color: white;
        }
    }

    &--orange {
        color: white;
        background-color: var(--clr-orange-400);

        &:hover,
        &:focus {
            box-shadow: inset 0 0 0 1px var(--clr-orange-400);
            color: var(--clr-orange-400);
            background-color: white;
        }
    }

    &--blue {
        color: white;
        background-color: var(--clr-blue-400);

        &:hover,
        &:focus {
            box-shadow: inset 0 0 0 1px var(--clr-blue-400);
            color: var(--clr-blue-400);
            background-color: white;
        }
    }

    &--secondary {
       
        background-color: var(--clr-white);
        color: var(--clr-text-darkgrey);

        &:hover,
        &:focus {
            background-color: rgb(240, 240, 240);

        }
    }


    &--simple {
        color: var(--clr-purple-400); 
       
        &:hover,
        &:focus {
            box-shadow: inset 0 -3px 0 0 var(--clr-purple-300);
        }
    }

}