@use "../abstracts/" as *;

.course-table {
    width: 100%;
    text-align: center;

    th {
        color: var(--clr-text-grey);
        padding: 2rem 0;
    }

    &__first-col {
        text-align: left;
    }

    &__course {
        padding: 0.5rem 0;
        text-align: left;
        @include flex(1rem, null, flex-start, center);

        i {
            padding: 2.5rem;
            border-radius: var(--br-500);
            color: var(--clr-blue-400);
            background-color: var(--clr-blue-300);
        }

        p {
            color: var(--clr-text-grey);
            font-weight: var(--fw-600);
            margin-top: 0.3rem;
        }
    }

    td {
        font-weight: var(--fw-600);
        color: var(--clr-text-dark);
    }
}
