@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;900&display=swap');

:root {
    --clr-bg-main: #f7f7f7;
    --clr-white: #fff;

    --clr-text-darker: #414141;
    --clr-text-dark: #3d3d3d;
    --clr-text-darkgrey: #6e6e6e;
    --clr-text-grey: #a0a0a0;

    --clr-purple-400: #8A6FD6;
    --clr-purple-300: #E9E3FD;
    --clr-orange-400: #FDAB5F ;
    --clr-orange-300: #FEF1E1 ;
    --clr-blue-400: #579BE4;
    --clr-blue-300: #E6F4FF ;

    --fs-900: 5.6rem;
    --fs-800: 3.6rem;
    --fs-700: 2.4rem;
    --fs-600: 2rem;
    --fs-500: 1.8rem;
    --fs-400: 1.5rem;
    --fs-300: 1.4rem;
    --fs-200: 1.3rem;

    --fw-900: 900;
    --fw-700: 700;
    --fw-600: 600;
    --fw-400: 400;
    --fw-300: 300;

    --br-circle: 10rem;
    --br-600: 1.5rem;
    --br-500: 1rem;
    --br-400: .5rem;   
}

html {      
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-bg-main);
    min-height: 100vh;
    font-size: var(--fs-400);
    line-height: 1.5;
    font-family: 'Urbanist', sans-serif;
}


img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

input,
button,
textarea,
select {
    font: inherit;
}

input {
    border: none;
}

button {
    cursor: pointer;
}